<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Technology Company</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/Technology_Company/firstapp/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" type="image" href="/Technology_Company/firstapp/static/img/cpu.ico">
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" aria-label="Second navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="bi bi-cpu mx-2"></i>A Technology Company</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExample02">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#galery">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Get in Touch</a>
                    </li>
                </ul>
                <li class="navbar-item ms-2 d-none d-md-inline">
                    <a href="#pricing" class="btn btn-outline-light">Buy
                        Now</a>
                </li>
            </div>
        </div>
    </nav>


    <!--Carousel-->
    <section id="carousel">
        <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item carousel-image bg-img-1 active">
                    <div class="carousel-caption text-left">
                        <h1>Example headline.</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate debitis dolorem dolor amet
                            earum ex et itaque deserunt, blanditiis sunt quos facilis. Nobis earum itaque modi quasi in
                            voluptatem accusantium.</p>
                        <p><a class="btn btn-lg btn-outline-light" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
                <div class="carousel-item carousel-image bg-img-2">
                    <div class="carousel-caption text-right">
                        <h1>Another example headline.</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure earum similique ipsam? Quidem,
                            architecto repudiandae? Consequuntur deleniti rerum doloremque quam quidem debitis deserunt,
                            veniam quaerat officiis, voluptatum voluptate, suscipit alias.</p>
                        <p><a class="btn btn-lg btn-outline-light" href="#" role="button">Buy Now</a></p>
                    </div>
                </div>
                <div class="carousel-item carousel-image bg-img-3">
                    <div class="carousel-caption text-center">
                        <h1>One more for good measure.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-outline-light" href="#" role="button">Get in Touch</a></p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!--Galery-->
    <section id="galery" class="bg-light">
        <div class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-10 col-md-8 mx-auto">
                    <h1 class="fw-light">Main Services</h1>
                    <p class="lead text-body-secondary">Something short and leading about the collection below its
                        contents, the creator, etc. Make it short and sweet, but not too short so folks dont simply
                        skip over it entirely.</p>
                </div>
            </div>
        </div>
        <div class="album py-1">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="Technology_Company\firstapp\static\img\intro-img2.jpeg" alt="">
                            <div class="card-body">
                                <h1 class="display-6 text-muted">Hardware</h1>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="Technology_Company\firstapp\static\img\intro-img.jpg" alt="">
                            <div class="card-body">
                                <h1 class="display-6 text-muted">Machine Learning</h1>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="Technology_Company\firstapp\static\img\intro-img3.jpg" alt="">
                            <div class="card-body">
                                <h1 class="display-6 text-muted">Artificial Intelligence</h1>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--About-->
    <section id="about">
        <div class="container-lg">
            <div class="row flex-lg-row-reverse align-items-center g-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="Technology_Company\firstapp\static\img\about-img.png" class="d-none d-lg-block mx-lg-auto img-fluid"
                        alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Us
                    </h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam temporibus
                        explicabo ipsa quos repudiandae dolorem repellat nihil. Beatae ipsum saepe accusantium, aliquam
                        repellat sit nam reprehenderit possimus atque odit.</p>
                </div>
            </div>
        </div>

        <div class="container-lg">
            <div class="row flex-lg-row-reverse align-items-center my-5 g-5">
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Details
                    </h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam temporibus
                        explicabo ipsa quos repudiandae dolorem repellat nihil. Beatae ipsum saepe accusantium, aliquam
                        repellat sit nam reprehenderit possimus atque odit.</p>
                </div>
                <div class="col-lg-6">

                    <!--Accordion-->
                    <div class="accordion" id="chapters">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#chapter-1" aria-controls="chapter-1" aria-expanded="true">Lorem
                                    Details - 1.</button>
                            </h2>
                            <div id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1"
                                data-bs-parent="#chapters">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iure dolore sint
                                        aliquam deleniti. Enim soluta quam minima suscipit voluptatibus autem porro
                                        asperiores itaque? Magnam est laboriosam officiis consectetur consequuntur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni iure eius
                                        praesentium atque ratione in fugit facere recusandae voluptas nobis officiis
                                        aperiam quasi dignissimos, quis, iste ipsum sed asperiores distinctio.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#chapter-2" aria-controls="chapter-2" aria-expanded="false">Lorem
                                    Details - 2.</button>
                            </h2>
                            <div id="chapter-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
                                data-bs-parent="#chapters">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iure dolore sint
                                        aliquam deleniti. Enim soluta quam minima suscipit voluptatibus autem porro
                                        asperiores itaque? Magnam est laboriosam officiis consectetur consequuntur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni iure eius
                                        praesentium atque ratione in fugit facere recusandae voluptas nobis officiis
                                        aperiam quasi dignissimos, quis, iste ipsum sed asperiores distinctio.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#chapter-3" aria-controls="chapter-3" aria-expanded="false">Lorem
                                    Details - 3.</button>
                            </h2>
                            <div id="chapter-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                                data-bs-parent="#chapters">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iure dolore sint
                                        aliquam deleniti. Enim soluta quam minima suscipit voluptatibus autem porro
                                        asperiores itaque? Magnam est laboriosam officiis consectetur consequuntur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni iure eius
                                        praesentium atque ratione in fugit facere recusandae voluptas nobis officiis
                                        aperiam quasi dignissimos, quis, iste ipsum sed asperiores distinctio.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#chapter-4" aria-controls="chapter-4" aria-expanded="false">Lorem
                                    Details - 4.</button>
                            </h2>
                            <div id="chapter-4" class="accordion-collapse collapse" aria-labelledby="heading-4"
                                data-bs-parent="#chapters">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iure dolore sint
                                        aliquam deleniti. Enim soluta quam minima suscipit voluptatibus autem porro
                                        asperiores itaque? Magnam est laboriosam officiis consectetur consequuntur.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni iure eius
                                        praesentium atque ratione in fugit facere recusandae voluptas nobis officiis
                                        aperiam quasi dignissimos, quis, iste ipsum sed asperiores distinctio.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!--Pricing-->
    <section id="pricing" class="bg-light py-5">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="fw-light">Pricing Plans</h1>
                        <p class="lead text-muted">Choose a pricing plan to suit
                            you</p>
                    </div>

                    <div class="row my-5 align-items-center justify-content-center g-0">
                        <div class="col-8 col-lg-4 col-xl-3">
                            <div class="card border-0">
                                <div class="card-body text-center py-4">
                                    <h4 class="card-title">Standard</h4>
                                    <p class="lead card-subtitle">ipsum dolor sit amet</p>
                                    <p class="display-5 my-4 text-primary fw-bold">$12.99</p>
                                    <p class="card-text mx-5 text-muted d-none d-lg-block">Lorem
                                        ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="#" class="btn btn-outline-primary btn-lg mt-3">Apply Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-9 col-lg-4">
                            <div class="card border-primary border-2">
                                <div class="card-header text-center text-primary">Most Popular</div>
                                <div class="card-body text-center py-5">
                                    <h4 class="card-title">Enterprise</h4>
                                    <p class="lead card-subtitle">ipsum dolor sit amet</p>
                                    <p class="display-4 my-4 text-primary fw-bold">$29.99</p>
                                    <p class="card text mx-5 text-muted d-none d-lg-block">Lorem ipsum, dolor sit amet
                                        consectetur adipisicing elit.</p>
                                    <a href="#" class="btn btn-outline-primary btn-lg mt-3">Buy Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-lg-4 col-xl-3">
                            <div class="card border-0">
                                <div class="card-body text-center py-4">
                                    <h4 class="card-title">Pro</h4>
                                    <p class="lead card-subtitle">ipsum dolor sit amet</p>
                                    <p class="display-5 my-4 text-primary fw-bold">$19.99</p>
                                    <p class="card-text mx-5 text-muted d-none d-lg-block">Lorem
                                        ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="#" class="btn btn-outline-primary btn-lg mt-3">Buy
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Compare Plans-->
            <div class="container-lg">
                <h1 class="fw-light text-center mb-3">Compare plans</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="table-responsive">
                        <table class="table table-light text-center">
                            <thead>
                                <tr>
                                    <th style="width: 34%;"></th>
                                    <th style="width: 22%;">Standard</th>
                                    <th style="width: 22%;">Pro</th>
                                    <th style="width: 22%;">Enterprise</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-start">Public</th>
                                    <td><i class="bi bi-check-lg"></i></td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Private</th>
                                    <td></td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <th scope="row" class="text-start">Permissions</th>
                                    <td><i class="bi bi-check-lg"></i></td>
                                    </td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Sharing</th>
                                    <td></td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Unlimited members</th>
                                    <td></td>
                                    <td></td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-start">Extra security</th>
                                    <td></td>
                                    <td></td>
                                    <td><i class="bi bi-check-lg"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </section>

    <!--reviews-->
    <section id="reviews">
        <div class="container-fluid">
            <div class="text-center pt-5">
                <h2><i class="bi bi-stars text-dark"></i>Plans Reviews</h2>
                <p class="lead">What our clients have said about our services...</p>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-8">
                    <div class="list-group">
                        <div class="list-group-item mb-1 py-3 bg-light">
                            <div class="pb-2">
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                            </div>
                            <h5 class="mb-1">A must by for every aspiring web dev</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
                                voluptate dolor odit exercitationem. Nisi repellendus iste doloribus accusamus deserunt
                                tempore vero et aspernatur! Quisquam nesciunt suscipit libero aut iusto enim?</p>
                            <small>Review by Mario</small>
                        </div>
                        <div class="list-group-item mb-1 py-3 bg-light">
                            <div class="pb-2">
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                            </div>
                            <h5 class="mb-1">A must by for every aspiring web dev</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
                                voluptate dolor odit exercitationem. Nisi repellendus iste doloribus accusamus deserunt
                                tempore vero et aspernatur! Quisquam nesciunt suscipit libero aut iusto enim?</p>
                            <small>Review by Mario</small>
                        </div>
                        <div class="list-group-item mb-1 py-3 bg-light">
                            <div class="pb-2">
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                            </div>
                            <h5 class="mb-1">A must by for every aspiring web dev</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
                                voluptate dolor odit exercitationem. Nisi repellendus iste doloribus accusamus deserunt
                                tempore vero et aspernatur! Quisquam nesciunt suscipit libero aut iusto enim?</p>
                            <small>Review by Mario</small>
                        </div>
                        <div class="list-group-item mb-1 py-3 bg-light">
                            <div class="pb-2">
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                            </div>
                            <h5 class="mb-1">A must by for every aspiring web dev</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
                                voluptate dolor odit exercitationem. Nisi repellendus iste doloribus accusamus deserunt
                                tempore vero et aspernatur! Quisquam nesciunt suscipit libero aut iusto enim?</p>
                            <small>Review by Mario</small>
                        </div>
                        <div class="list-group-item mb-5 py-3 bg-light">
                            <div class="pb-2">
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                                <i class="bi bi-star-fill text-altdark"></i>
                            </div>
                            <h5 class="mb-1">A must by for every aspiring web dev</h5>
                            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
                                voluptate dolor odit exercitationem. Nisi repellendus iste doloribus accusamus deserunt
                                tempore vero et aspernatur! Quisquam nesciunt suscipit libero aut iusto enim?</p>
                            <small>Review by Mario</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Contact Form-->
    <section id="contact" class="bg-light">
        <div class="container-lg">
            <div class="text-center py-5">
                <h2>Get in Touch</h2>
                <p class="lead">Questions to ask? Fill out the form to contact me directly...</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form>
                        <label for="email" class="form-label">Email address:</label>
                        <div class="mb-4 input-group">
                            <span class="input-group-text">
                                <i class="bi bi-envelope-fill"></i> </span>
                            <input type="email" class="form-control" id="email" placeholder="e.g. mario@example.com">
                            <!--tooltip-->
                            <span class="input-group-text">
                                <span class="tt" data-bs-placement="bottom"
                                    title="Enter an email address we can reply to.">
                                    <i class="bi bi-question-circle text-muted"></i>
                                </span>
                            </span>
                        </div>

                        <label for="name" class="form-label">Name:</label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </span>
                            <input type="text" class="form-control" id="name" placeholder="e.g Mario">
                            <!--Tooltip-->
                            <span class="input-group-text">
                                <span class="tt" data-bs-placement="bottom" title="Pretty self explanatory really...">
                                    <i class="bi bi-question-circle text-muted"></i>
                                </span>
                            </span>
                        </div>

                        <label for="subject" class="form-label">What is your question about?</label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="bi bi-chat-right-dots-fill"></i>
                            </span>
                            <select class="form-select" id="subject">
                                <option value="pricing" selected>Pricing query</option>
                                <option value="content">Content query</option>
                                <option value="other">Other query</option>
                            </select>
                        </div>


                        <div class="form-floating mb-5 mt-5">
                            <textarea id="query" class="form-control" style="height: 140px;"></textarea>
                            <label for="query" class="form-label">Your query...</label>
                        </div>

                        <div class="mb-5 text-center">
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <section id="footer" class="dark-footer">
        <div class="container-lg">
            <footer class="row row-cols-5 row-cols-sm-2 row-cols-md-5 py-5">
                <div class="col mb-3">
                    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>
                    <p>© A Technology Company 2024</p>
                </div>

                <div class="col mb-3">

                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">About</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light">About</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </section>













    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        const navEl = document.querySelector('.navbar');
        window.addEventListener('scroll', () => {
            if (window.scrollY >= 56) {
                navEl.classList.add('navbar-scrolled');
            } else if (window.scrollY < 56) {
                navEl.classList.remove('navbar-scrolled');
            }
        });
    </script>
</body>

</html>